@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import "fonts.scss";


$main_color: rgb(144, 1, 1);
$main-color-transparent: rgba(96, 2, 2, 0.25);
$second_color: rgb(202, 162, 61);
$gray: rgb(168, 168, 168);

$dark-color: #242424;
$light-color: rgb(245, 245, 245);
$light-color-transparent:rgba(245, 245, 245,0.3);
$button-color: #5D0134;
$button-shade: #8B018F;
$bad-color: rgb(183, 118, 118);
$navy-color: rgb(9, 0, 69);
$gold-color: gold;

@mixin text-shadow ($color1, $color2) {

	text-shadow: 1px 1px 0px $color1, 3px 3px 0px $color2;
}

@mixin box-forming ($color,$radius,$thickness,$kind){
border: $kind $thickness $color;
border-radius: $radius;
}

html {
	box-sizing: border-box;
	font-size: 20px;
}

* {
	box-sizing: inherit;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
}

body {
	margin: 0px;
	background-color: $dark-color;

}
header {
	height: 200px;
	width: 100%;
	background-image: url(images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }

  h2{
	font-family: 'abril_fatfaceregular';

  }
  h3{
	font-family: 'abhaya_libreregular';
  }
  li{
	font-family: 'playfair_displayitalic';

  }
header{
	h3{
		margin: 0;
		margin-top: 10px;
		line-height: 1;
		@include text-shadow($light-color,$main_color );
		font-size: 2rem;
		font-weight: bold;
		color: navy;
		padding: 0 100px;
		line-height: 80px;
		text-align: center;
		font-family: 'josefin_sansbold';

		
	   
		}
	}



button{

span{
	font-size: 1rem;
	font-family: 'fin_serif_displayitalic';


}
}

main {
	margin: 5px 50px 20px 50px;
	padding: 10px;
	flex: 1;
}

section {
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	color: $gray;
}

footer {
	width: 100%;
	background-color: $dark-color;
	padding: 10px 0px;
	text-align: center;
	color: $light-color;
}
footer{
	h3{
		color: $second_color;
		

	}
	h2{
		color: $bad-color;

	}
}

#wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	min-height: 100vh;
}

.player-box {
	color: $dark-color;
	background-color: $gray;
	@include box-forming($main_color,30% ,5px ,double);
	@include text-shadow($dark-color,$gold-color );
	font-size: 18px;
	text-align: center;
	padding: 20px;
	height: fit-content;
	min-height: 350px;
  }
  
  .box_score {
	color: white;
	font-size: 18px;
	text-align: left;
	padding-left: 50px;
  }
  
  .box1 {
	grid-area: one;
  }
  
  .box2 {
	grid-area: two;
  }
  
  .box3 {
	grid-area: three;
  }
  
  .grid_boxes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 350px;
	grid-gap: 20px;
	grid-template-areas: "one two three";
	padding: 10px;
  }

  .button {
	background-image: -webkit-linear-gradient(top, $button-shade, $button-color);
	background-image: -moz-linear-gradient(top, $button-shade, $button-color);
	background-image: -ms-linear-gradient(top, $button-shade, $button-color);
	background-image: -o-linear-gradient(top, $button-shade, $button-color);
	background-image: linear-gradient(to bottom, $button-shade, $button-color);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	@include box-forming($light-color,10% ,2px ,solid);
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-left: 10px;
	box-shadow: 2px 2px 2px silver;
  }
  
  .button:hover {
	background: $button-color;
	background-image: -webkit-linear-gradient(top, $button-color, $button-shade);
	background-image: -moz-linear-gradient(top, $button-color, $button-shade);
	background-image: -ms-linear-gradient(top, $button-color, $button-shade);
	background-image: -o-linear-gradient(top, $button-color, $button-shade);
	background-image: linear-gradient(to bottom, $button-color, $button-shade);
	text-decoration: none;
	box-shadow: 2px 2px 2px 2px goldenrod;

  }
  
.dropDown {
	
	background-color: $bad-color;
	color: $dark-color;
	font-size: 18px;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	@include box-forming($light-color,10% ,3px ,solid);
	font-size: 20px;
	font-weight: bold;

}

.active,
.dropDown:hover {
	background-color: $main_color;
	color: $light-color;
}

.panel {
	padding: 0 18px;
	background-color: $light-color;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.space_li {
	margin-bottom: 15px;
}

#winnerSign{
	color: #5C0104;
	background-color:$light-color-transparent ;
	font-size: 2.5rem;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
	html{
	font-size:17px;
	}
header{
	h3{
		font-size: 1.7rem;
		padding: 0 50px;
	}
}

.box_score {
	color: white;
	font-size: 1rem;
	text-align: left;
	padding-left: 5px;

	ul{
		padding-left: 2px;
	}
  }

  .button {
	margin-top: 50px;
  }

}
@media screen and (max-width: 600px) {
	html{
	font-size:16px;
	}
header{
	h3{
		font-size: 1.2rem;
		font-weight: bold;
		padding: 0 10px;
		text-shadow: none;
	}
}
main {
	margin: 5px 10px;
	padding: 10px;
	flex: 1;
}
section{
	margin: 2px;
	padding: 2px;
}
.box_score {
	color: white;
	font-size: 1rem;
	text-align: left;
	padding-left: 5px;

	ul{
		padding-left: 2px;
	}
  }

  .box_scoreTitle{
	font-size: 1rem;
}

  .grid_boxes{
	padding: 0px;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	// grid-auto-rows: 350px;
	grid-gap: 10px;

  }
  
  .box1 {
	grid-area: 1/1/2/2;
  }
  
  .box2 {
	grid-area: 2/1/3/3;

	h2{
		display: none;
	}
  }
  
  .box3 {
	grid-area: 1/2/2/3;
  }
img{
	width: 70px;
}
.player-box {
	height: fit-content;
	min-height: 200px;
	padding: 10px;
	border-radius: 20%;
  }
  .button {
	margin-top: 10px;
	margin-bottom: 5px;
  }
  .dropDown{
	font-size: 1rem;
	span{
		font-size: 0.7rem;
	}
  }
  #winnerSign{
	font-size: 1.3rem;
  }

}